@page
@model RazorPagesSchedule.Pages.MonthSearchModel
@{
}
<b>Use the dropdown menu below to select the Month and Year of the calender you want to view</b>
<form>
    <div class="form-group">
        <select asp-for="DesignatedMonth" asp-items="Html.GetEnumSelectList<MonthSearchModel.MonthNames>()">
            <option value="">Choose a Day</option>
        </select>
        <span asp-validation-for="DesignatedMonth" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="DesignatedYear" class="control-label"></label>
        <input asp-for="DesignatedYear" class="form-control"/>
        <span asp-validation-for="DesignatedYear" class="text-danger"></span>
    </div>
</form>
